/* ------------------------ */
/* ------------------------ */
/* ------------------------ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden; }

@-webkit-keyframes card-appear {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes card-up {
  0% {
    -webkit-transform: translateZ(17px); }

  40% {
    -webkit-transform: translateZ(20px) translateY(-40px); }

  60% {
    -webkit-transform: translateZ(20px) translateY(-40px); }

  100% {
    -webkit-transform: translateZ(20px) translateY(-40px) rotateY(180deg); } }

.drawers-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -465px;
  margin-top: -325px;
  width: 930px;
  height: 650px;
  -webkit-perspective: 600; }
  .drawers-cont .drawer-chest {
    width: 930px;
    height: 650px;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); }
    .drawers-cont .drawer-chest.focus .drawer .box-side {
      border: 1px solid gray; }
    .drawers-cont .drawer-chest .border {
      position: absolute;
      width: 930px;
      height: 650px;
      -webkit-transform-style: preserve-3d;
      -webkit-transform: translateZ(-47px); }
      .drawers-cont .drawer-chest .border .box-side {
        display: block;
        position: absolute; }
        .drawers-cont .drawer-chest .border .box-side.front {
          width: 930px;
          height: 650px;
          -webkit-transform: rotateX(0deg) translateZ(20px); }
        .drawers-cont .drawer-chest .border .box-side.back {
          width: 930px;
          height: 650px;
          -webkit-transform: rotateX(180deg) translateZ(20px); }
        .drawers-cont .drawer-chest .border .box-side.right {
          left: 445px;
          width: 40px;
          height: 650px;
          -webkit-transform: rotateY(90deg) translateZ(465px); }
        .drawers-cont .drawer-chest .border .box-side.left {
          left: 445px;
          width: 40px;
          height: 650px;
          -webkit-transform: rotateY(-90deg) translateZ(465px); }
        .drawers-cont .drawer-chest .border .box-side.top {
          top: 305px;
          width: 930px;
          height: 40px;
          -webkit-transform: rotateX(90deg) translateZ(325px); }
        .drawers-cont .drawer-chest .border .box-side.bottom {
          top: 305px;
          width: 930px;
          height: 40px;
          -webkit-transform: rotateX(-90deg) translateZ(325px); }
      .drawers-cont .drawer-chest .border .box-side {
        border: 1px solid gray;
        background: #efefef;
        opacity: 0.7; }
        .drawers-cont .drawer-chest .border .box-side.front {
          display: none; }
    .drawers-cont .drawer-chest .sep {
      position: absolute;
      background: #ccc;
      -webkit-transform-origin: left top; }
      .drawers-cont .drawer-chest .sep.vertical {
        height: 650px;
        width: 40px;
        -webkit-transform: translateZ(-29px) rotateY(90deg); }
      .drawers-cont .drawer-chest .sep.horizontal {
        height: 40px;
        width: 60px;
        -webkit-transform: translateZ(-29px) rotateX(-90deg); }
    .drawers-cont .drawer-chest .fronts {
      position: absolute;
      background: #ccc;
      -webkit-transform: translateZ(-28px); }
      .drawers-cont .drawer-chest .fronts.vertical {
        height: 650px;
        width: 6px; }
      .drawers-cont .drawer-chest .fronts.horizontal {
        height: 6px;
        width: 60px; }
    .drawers-cont .drawer-chest .drawer {
      position: absolute;
      width: 60px;
      height: 40px;
      -webkit-transform-style: preserve-3d;
      -webkit-transform: translateZ(-47px);
      -webkit-transition: -webkit-transform 1s; }
      .drawers-cont .drawer-chest .drawer .box-side {
        display: block;
        position: absolute; }
        .drawers-cont .drawer-chest .drawer .box-side.front {
          width: 60px;
          height: 40px;
          -webkit-transform: rotateX(0deg) translateZ(20px); }
        .drawers-cont .drawer-chest .drawer .box-side.back {
          width: 60px;
          height: 40px;
          -webkit-transform: rotateX(180deg) translateZ(20px); }
        .drawers-cont .drawer-chest .drawer .box-side.right {
          left: 10px;
          width: 40px;
          height: 40px;
          -webkit-transform: rotateY(90deg) translateZ(30px); }
        .drawers-cont .drawer-chest .drawer .box-side.left {
          left: 10px;
          width: 40px;
          height: 40px;
          -webkit-transform: rotateY(-90deg) translateZ(30px); }
        .drawers-cont .drawer-chest .drawer .box-side.top {
          top: 0px;
          width: 60px;
          height: 40px;
          -webkit-transform: rotateX(90deg) translateZ(20px); }
        .drawers-cont .drawer-chest .drawer .box-side.bottom {
          top: 0px;
          width: 60px;
          height: 40px;
          -webkit-transform: rotateX(-90deg) translateZ(20px); }
      .drawers-cont .drawer-chest .drawer .box-side {
        border: 1px solid gray;
        background: #efefef; }
        .drawers-cont .drawer-chest .drawer .box-side.top {
          display: none; }
        .drawers-cont .drawer-chest .drawer .box-side.front {
          opacity: 0.3; }
      .drawers-cont .drawer-chest .drawer .card {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 1px;
        right: 1px;
        -webkit-transform: translateZ(17px);
        -webkit-transform-style: preserve-3d; }
        .drawers-cont .drawer-chest .drawer .card .card-side {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden; }
          .drawers-cont .drawer-chest .drawer .card .card-side.front {
            background-image: url("img/dc1.jpg"); }
          .drawers-cont .drawer-chest .drawer .card .card-side.back {
            -webkit-transform: rotateY(180deg);
            background: #fffff6;
            font-size: 7px;
            border: 1px solid gray;
            overflow: hidden; }
            .drawers-cont .drawer-chest .drawer .card .card-side.back textarea {
              margin: 0;
              width: 100%;
              height: 100%;
              border: none;
              resize: none;
              padding: 5px;
              font-size: 10px; }
      .drawers-cont .drawer-chest .drawer.open {
        -webkit-transform: translateZ(-20px);
        -webkit-transition: -webkit-transform 1s 0s;
        z-index: 5; }
        .drawers-cont .drawer-chest .drawer.open .card {
          -webkit-animation: card-up 1s linear 1s;
          -webkit-animation-fill-mode: both; }
          .drawers-cont .drawer-chest .drawer.open .card.new {
            -webkit-animation: card-up 1s linear 1s, card-appear 1s linear 1s;
            -webkit-animation-fill-mode: both; }

.edit-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -465px;
  margin-top: -325px;
  width: 930px;
  height: 650px; }
  .edit-cont .writer {
    position: absolute;
    border: 1px solid gray;
    background: #fffff6; }
    .edit-cont .writer textarea {
      position: absolute;
      background: inherit;
      resize: none;
      margin: 0;
      border: none;
      border-bottom: 1px solid gray;
      top: 0;
      left: 0;
      right: 0;
      bottom: 30px;
      padding: 10px; }
    .edit-cont .writer button {
      position: absolute;
      bottom: 5px;
      margin: 0;
      right: 5px; }

.loading-cont {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8); }
  .loading-cont .msg {
    font-size: 40px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 50%;
    margin-top: -23px; }
